.wrapper {
  display: grid;
  height: 100vh;
  grid-template-areas:
    "header"
    "main";
  overflow-y: hidden;
}

.main {
  grid-area: main;
  height: calc(100vh - var(--header-height));
  display: flex;
  flex-direction: column;
}

.searchSection {
  display: flex;
  justify-content: center;
  padding: 20px 0;
  border-bottom: 2px solid var(--purple40);
}

.gridWrapper {
  overflow-y: scroll;
  padding-bottom: 20px;
}
