.button {
  border-radius: var(--border-radius);
  height: var(--input-height);
  background-color: var(--sapphire80);
  color: var(--text-color);
}
.button[disabled] {
  background-color: var(--sapphire40);
}
