.figure {
  --input-width: 200px;
  box-shadow: #1a1a0944 4px 4px 10px;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.img[data-is-loaded="false"] {
  width: 0;
  height: var(--image-height);
}

.img[data-is-loaded="true"] {
  width: var(--input-width);
}

.fallback {
  width: var(--input-width);
  height: var(--image-height);
  background-color: var(--image-bg-color);
}
